body {
  width: 300px;
  margin: 0;
}

/* Menu */
ul {
  width: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #292A2D;
}

li {
  padding: 5px 16px;
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  height: 50px;
  font-size: 16px;
  position: relative;
}

li div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

li:hover {
  background-color: #414245;
}

/* Checkbox */
.checkboxs {
  border-top: 1px white;
  padding-top: 10px;
  text-align: left;
  color: #ffffff;
  background-color: #292A2D;
}

.checkboxs label {
  line-height: 45px;
  display: block;
}

.checkboxs label:hover {
  background-color: #414245;
}

.checkboxs input {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
  margin-left: 0.8rem;
  cursor: pointer;
  transition: all 0.15s ease-out 0s;
  color: #292A2D;
  background: #505050;
  -webkit-appearance: none;
          appearance: none;
  vertical-align: middle;
}

.checkboxs input:hover {
  background: #909090;
}

.checkboxs input:checked {
  background: #BABABA;
}

.checkboxs input:checked::before {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: '✔';
  text-align: center;
}

